$allwidth:1000px;
$c99:#999999; 
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#header{
    height: 35px;
    width: 100%;
    background: #f5f5f5;
    .header_top{
        width: $allwidth;
        height: 35px;
        margin: 0 auto;
        font-size: 12px;
        overflow: hidden; 
        a{
            text-decoration: none;
        }
        .header_top_wel{
            margin-top:12px ;
            float: left;
            .redherf{
                color: red;
                margin-right: 10px;
            }
            .header_top_wel_login{
                margin-left: 20px;
                .freezc{
                    color: $c99;
                }
                .freezc:hover{
                    color: red;
                }
                
            }
        }
        .top_nav{
            
            margin-top:12px ;
            list-style: none;
            float: right;
            li{
                float: left;
                width: 62px;
                a{
                  color: $c99;
                }
            }
            li:hover a{
                color: red;
            }
            li:nth-child(3){
                i{
                   position: relative;
                   top: 1px;
                }
            }
        }
    }
}
#footer{
    .footer_box{
           width: 1000px !important;
           .weibo{
               margin-left: 120px;
           }
    }
}

#main{
    margin: 0 auto;
    width: 1000px;
    .logo{
        height: 67px;
        margin-top: 20px;
        h1{ 
            margin: 0;
            padding: 0;
            float:left;
            a{
                display: block
            }
        }
        .process{
            margin-top: 18px;
            width: 534px;
            height: 50px;
            overflow: hidden;
            float: right;
            background: url(../../images/cart/cart-bg.png)no-repeat 0 0;
        }
    }
    .line{
        width: 100%;
        border: solid 1px #eee;
        border-top: solid 2px #d00e36;
        background: #fff;
        padding: 0 15px;
        margin-top: 30px;
        tbody{
            tr{
                .fist_th{
                    #allche{
                        position: relative;
                        top: 2px;
                    }
                }
                th{
                    height: 20px;
                    line-height: 20px;
                    color: #d00e36;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            .cart_main{
                td{
                    border-top: solid 1px #f4cbcb;
                    border-bottom: solid 1px #f4cbcb;
                    text-align: center;
                    font-size: 12px;
                    color: #4a4a4a;
                    background: #fcf7f8;
                    input{
                        color: #000;
                    }
                    a{
                        text-decoration: none;
                        color: #4a4a4a;
                        img{
                            height: 84px;
                            width: 84px;
                            border: solid 1px #f0f0f0;
                        }
                    }
                    
                }
                .img{
                    border-left: solid 1px #f4cbcb;
                }
                .quantity{
                    width: 72px;
                    a{
                        float: left;
                        display: block;
                        border: solid 1px #999;
                        background: #f8f8f8;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        font-size: 12px;
                        color: #666;
                        overflow: hidden;
                    }
                    #num{
                        float: left;
                        width: 30px;
                        height: 16px;
                        border-left: none;
                        border-right: none;
                        background: #f8f8f8;
                        border: solid 1px #999;
                        text-align: center;
                        outline:none;
                    }
                }
                .all_price{
                    color: #d00e36;
                    font-weight: bold;
                }
                .delete{
                    border-right: solid 1px #f4cbcb;
                    a{
                        color: #0086ad;
                        display: block;
                        width: 66px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .heji{
            text-align: right;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
            padding-right: 80px;
            margin-top: 10px;
            label{
                font-size: 14px;
                color: #4a4a4a;
            }
            span{
                font-size: 24px;
                color: #d00e36;
            }
    }
    #btn{
        margin-top: 10px;
        height: 31px;
        padding-right: 80px;
        a{
                float: right;
                display: block;
                width: 135px;
                height: 31px;
                line-height: 31px;
                text-align: center;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                background: url(../../images/cart/back.png)no-repeat 0 0;
        }
    }
    .bottom_btn{
            border-top: solid 1px #eee;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            margin-top: 10px;
            a{
                margin-right: 10px;
                line-height: 30px;
                font-size: 12px;
                color: #999;
                text-decoration: none;
            }
            a:hover{
                color: red;
            }
    }
}
.kongcart{
    padding: 70px 10px;
    height: 40px;
    line-height: 30px;
    border: solid 1px #eee;
    text-align: center;
    font-size: 18px;
    color: #666;
    a{
        padding: 0 5px;
        font-size: 18px;
        color: #f60;
        text-decoration: none;
        font-family: 'Microsoft Yahei';
    }
}
