#header_nav_hide{
      position: absolute;
      width: 190px;
      height: 45px;
      left: 130px;
      top:147px;
            .left{
                padding-top: 45px;
                float: left;
                position: relative;
                display: none;
                #two{
                    top: 63px !important;
                }
                #three{
                    top:71px !important;           
                }
                #four{
                    top:79px !important;           
                }
                #five{
                    top:87px !important;
                }
                #one,#two,#three,#four,#five{
                    width: 779px;
                    height: 360px;
                    border: 1px solid red;
                    position: absolute;
                    left: 201px;
                    top: 55px;
                    background: white;
                    padding-left: 15px;
                    z-index: 1;
                    display: none;
                    .left{
                        float: left;
                        width: 550px;
                        a:hover{
                        color: red;
                        }
                        dl{ float: left;
                            width: 550px;
                            padding: 8px 0px;
                            border-bottom: 1px solid #eee;
                            font-size: 13px;
                            dt{
                                float: left;
                                font-weight: 600;
                                margin-right: 15px;
                                margin-top: 4px;
                                text-align: right;
                                a{
                                    text-decoration: none;
                                    color: black;
                                    
                                }
                            }
                            dd{ 
                                float: left;
                                width: 450px;
                                a{  
                                    margin-right: 7px;
                                    padding-right: 8px;
                                    display: block;
                                    float: left;
                                    text-decoration: none;
                                    background: url(../../images/bg-all.gif) no-repeat right 10px;
                                    color: #333;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                    .right{
                        float: right;
                        width: 200px;
                        padding: 10px;
                        background: #eee;
                        h3{
                            
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        a{
                          display: inline-block;
                          width: 95px;
                          height: 45px;
                          float: left;
                          margin-right: 5px;
                          margin-bottom: 5px;
                          img{
                             width: 95px;
                             height: 45px;
                            }
                        }
                    }
                }
                .nav{
                    width: 188px;
                    height: 450px;
                    border-left:1px solid #e3e3e3;
                    border-right: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                    box-shadow: 5px 5px 5px #ebebeb;
                    background: white;
                     li:nth-child(1){
                        font-weight: 600;
                        background: #fff7f8;
                        border-bottom: 1px solid red;
                  
                        i{
                            font-size: 26px;
                            color: #d00e36;
                            margin-right: 10px;
                            position: relative;
                            top: 2px;
                            
                        }
                        a{
                            color: #d00e36;
                            height: 65px;
                            border: none;
                        }
                    }
                    li{
                        width: 180px;
                        height: 64px;
                        line-height: 64px;
                        list-style: none;
                        font-size: 14px;
                        background: white;
                        a{  
                            width: 160px;
                            display: block;
                            text-decoration: none;
                            color: black;
                            margin-left: 10px;
                            padding-left: 7px;
                            border-bottom: 1px solid #e3e3e3 ;
                            

                        }
                    }
                    li:hover a{
                        color: red;
                        border: none;
                    }
                    li:hover a i{
                        color: red;
                        
                    }
                    .navmo{
                        border: 1px solid white;
                        a{
                            i{
                                float: right;
                                margin-right: 5px;
                                background: white;
                                font-size: 12px;
                                font-weight: 600;
                                color:#c2c2c2 ;
                            }
                        }
                    }
                    .navmo_hover{
                        width:200px;
                        background: white;
                        border: 1px solid red;
                        z-index:2;
                        position:relative;
                        border-right:none;
                         a{
                            i{
                                float: right;
                                margin-right: 5px;
                                background: white;
                                font-size: 12px;
                                font-weight: 600;
                                color:#c2c2c2 ;
                            }
                        }
                    }
                }
            
    }
}
#header{
    .header_tt{
        .header_top{
            width: 1000px !important;
        }
    }
    .log_seacrh{
        width: 1000px !important;
        .seacrh_box{
            margin-left: 20px !important;
        }
    }
    .share_nav{
        
        margin: 0 auto;
        .fullback{
             width: 1000px !important;
             .right{
                 width: 810px !important;
             }
             
        }
       
    }
}

.seacrh_form{
    .bor{
        .btn{
            color: white;
            font-weight: 600;
        }
    }
}
#footer{
    .footer_box{
           width: 1000px !important;
           .weibo{
               margin-left: 120px;
           }
    }
}
#nav_path{
    margin: 0 auto;
    width: 1000px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-top: 10px;
    a{
        line-height: 30px;
        font-size: 12px;
        color: #d00e36;
        text-decoration: none;
    }
    span{
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
        font-family: \5B8B\4F53;
        color: #ccc;
    }
    label{
        line-height: 30px;
        font-size: 12px;
        color: #666;
    }
}
.main_big{
    #main{
        margin: 0 auto;
        width: 1000px;
        clear: both;
        #bottom_nav{
            width: 1000px;
            height: 36px;
            margin: 0 auto;
          .navbox{
            text-align: center;
            span:hover{
                border-color:#F2855F;
                background: #d00e36;
                color: #fff;
                a{
                    color: #fff;
                }
            }
            
            .page{
                display: inline-block;
                text-align: center;
                width: 40px;
                height: 34px;
                line-height: 34px;
                border: solid 1px #F2F2F2;
                text-decoration: none;
                color: #999;
                font-size: 13px;
              a{
                display: inline-block;
                text-align: center;
                width: 40px;
                height: 34px;
                line-height: 34px;
                text-decoration: none;
                color: #999;
              }
            }
            .chespan{
                border: solid 1px #F2855F;
                background: #d00e36;
                color: #fff !important;
                a{
                    color: #fff !important;
                }
            }
            .next{
                display: inline-block;
                background: #fff;
                margin-right: 5px;
                a{
                    display: block;
                    text-align: center;
                    width: 74px;
                    height: 34px;
                    line-height: 34px;
                    border: solid 1px #F2F2F2;
                    text-decoration: none;
                    color: #999;
                    font-size: 13px;
                }
            }
          }
        }
        .main_header{
                height: 35px;
                background: #fff;
                border: solid 1px #f1f1f1;
                .next{
                    background: #d20331;
                    width: 59px;
                    height: 24px;
                    overflow: hidden;
                    display: block;
                    float: right;
                    margin: 6px 20px 0 0;
                    color: #fff;
                    text-decoration: none;
                    line-height: 24px;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 3px;
                }
                .header_nav{
                    float: left;
                    width: 400px;
                    padding-left: 20px;
                    a{
                        float: left;
                        display: block;
                        margin: 0;
                        padding: 0;
                        width: 70px;
                        height: 35px;
                        line-height: 35px;
                        position: relative;
                        margin-right: 30px;
                        b{
                            position: absolute;
                            left: 0;
                            top: -1px;
                            z-index: 1;
                            display: block;
                            margin: 0;
                            padding: 0;
                            width: 70px;
                            height: 48px;
                            line-height: 35px;
                            text-align: center;
                            font-size: 14px;
                            color: #4a4a4a;
                        }
                    }
                    .nav_che{
                            b{
                            color: #fff;
                            background: url(../../images/list/nav_che.gif) no-repeat center -33px;;
                            }
                    }
                }
        }
        .content{
            clear: both;
            #pruts{
                margin: 0;
                padding: 0;
                width: 1050px;
              li{
                 list-style: none;
                 display: inline-block;
                .pic_name{
                    width: 214px;
                    height: 340px;
                    padding: 23px 15px;
                    margin: 8px 5px 8px 0;
                    overflow: hidden;
                    float: left;
                    border: solid 1px #f0f0f0;
                    background: #fff;
                    .img{
                        display: block;
                        width: 180px;
                        height: 150px;
                        overflow: hidden;
                        text-align: center;
                        margin: 10px auto;
                        img{
                            max-width: 180px;
                            max-height: 150px;
                        }
                    }
                    .text{
                        .name{
                            margin: 20px 0;
                            color: #000000;
                            text-decoration: none;
                            display: block;
                            font-size: 12px;
                            height: 32px;
                            overflow: hidden;
                        }
                        label{
                            color: #d00e36;
                            font-size: 12px;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 24px;
                        }
                        .btn{
                            a{
                                    cursor: pointer;
                                    border: solid 1px #d2d2d2;
                                    display: block;
                                    float: left;
                                    margin: 0 5px 15px 0;
                                    width: 64px;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    color: #757575;
                                    font-size: 12px;
                                    border-radius: 2px;
                                    text-decoration: none;
                            }
                            a:hover{
                                background: #E3E3E3;
                            }
                            
                        }
                       
                    }
                }
              }
            }
        }
    }
}
#footer{
    clear: both;
}
#header_nav_hide{
    z-index: 99;
}
