<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../lib/requirejs/require.js" data-main="../../js/list"></script>
		<link rel="stylesheet" type="text/css" href="../../dist/css/list.css"/>
		<link rel="stylesheet" type="text/css" href="../../dist/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../../font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../dist/css/header.css"/>
	</head>
	<body>
		<div id="header">
		<div id="header_nav_hide">
			<div class="left">
				<ul class="nav">
					<li><a href="/"><i class="iconfont icon-liwu"></i>我要送礼物</a></li>
					<li class="navmo"><a href="/" >个护化妆<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >家居生活<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >箱包配饰<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >珠宝首饰、钟表<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >食品保健<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li style="height: 55px;"><a href="/" style="border: none;height: 55px;">品牌区</a></li>
				</ul>
				<div id="one" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">面部护理</a>
								</dt>
								<dd>
									<a href="/">洁面乳</a>
									<a href="/">爽肤水</a>
									<a href="/">精华露</a>
									<a href="/">乳液面霜</a>
									<a href="/">面膜/去角质</a>
									<a href="/">眼部护理</a>
									<a href="/">护肤套装</a>
									<a href="/">防晒隔离</a>
									<a href="/">其他</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">个人洗护</a>
								</dt>
								<dd>
									<a href="/">卫生巾/护垫</a>
									<a href="/">洗护/造型</a>
									<a href="/">身体护理</a>
									<a href="/">口腔护理</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚彩妆</a>
								</dt>
								<dd>
									<a href="/">粉底/遮瑕</a>
									<a href="/">眼影/眼线</a>
									<a href="/">腮红</a>
									<a href="/">眉笔/眉粉</a>
									<a href="/">睫毛膏</a>
									<a href="/">唇膏唇彩</a>
									<a href="/">卸妆</a>
									<a href="/">美甲</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">男士护理</a>
								</dt>
								<dd>
									<a href="/">面部护理</a>
									<a href="/">眼部护理</a>
									<a href="/">剃须</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">经典香氛</a>
								</dt>
								<dd>
									<a href="/">女士香水</a>
									<a href="/">男士香水</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1390460850.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1397008455.png"</a>
							<a href="/"><img src="../../images/logosl/1397008474.png"</a>
							<a href="/"><img src="../../images/logosl/1397008506.png"</a>
							<a href="/"><img src="../../images/logosl/1397008518.png"</a>
							<a href="/"><img src="../../images/logosl/1410758765.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410414006.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410416727.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410844430.jpg"</a>
						</div>
				</div>
				<div id="two" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">精装家纺</a>
								</dt>
								<dd>
									<a href="/">床品套装</a>
									<a href="/">枕芯被套</a>
									<a href="/">毛巾家纺</a>
									<a href="/">儿童床品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">居家日用</a>
								</dt> 
								<dd>
									<a href="/">办公文具</a>
									<a href="/">置物/收纳</a>
									<a href="/">雨伞雨具</a>
									<a href="/">浴室用品</a>
									<a href="/">净化除味</a>
									<a href="/">清洁用品</a>
									<a href="/">驱虫用具</a>
									<a href="/">皮具护理</a>
									<a href="/">灯饰照明</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">厨房用具</a>
								</dt>
								<dd>
									<a href="/">餐具</a>
									<a href="/">烹饪锅具</a>
									<a href="/">茶具/酒具</a>
									<a href="/">保险/器皿</a>
									<a href="/">剪刀砧板</a>
									<a href="/">厨房清洁</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">家电用品</a>
								</dt>
								<dd>
									<a href="/">生活电器</a>
									<a href="/">厨房电器</a>
									<a href="/">个户健康</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">户外、休闲</a>
								</dt>
								<dd>
									<a href="/">汽车用品</a>
									<a href="/">户外/休闲</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1397116041.png"/></a>
							<a href="/"><img src="../../images/logosl/1390466076.jpg"</a>
							<a href="/"><img src="../../images/logosl/1397115969.png"</a>
							<a href="/"><img src="../../images/logosl/1397116016.png"</a>
							<a href="/"><img src="../../images/logosl/1410831365.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410420010.jpg"</a>
							<a href="/"><img src="../../images/logosl/1397116016.png"</a>
							<a href="/"><img src="../../images/logosl/1410419108.jpg"</a>
							
						</div>
				</div>
				<div id="three" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">潮流女包</a>
								</dt>
								<dd>
									<a href="/">钱包/卡包</a>
									<a href="/">单肩包</a>
									<a href="/">双肩包</a>
									<a href="/">手提包</a>
									<a href="/">斜挎包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">精品男包</a>
								</dt>
								<dd>
									<a href="/">钥匙包</a>
									<a href="/">钱包/卡包</a>
									<a href="/">手拿包</a>
									<a href="/">背包</a>
									<a href="/">休闲包</a>
									<a href="/">商务/公务包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">旅行箱包</a>
								</dt>
								<dd>
									<a href="/">拉杆箱</a>
									<a href="/">旅行包</a>
									<a href="/">休闲包</a>
									<a href="/">电脑包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚配件</a>
								</dt>
								<dd>
									<a href="/">男士配件/饰品</a>
									<a href="/">女士配件</a>
									<a href="/">眼镜</a>
									<a href="/">太阳眼镜</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">户外、休闲</a>
								</dt>
								<dd>
									<a href="/">汽车用品</a>
									<a href="/">户外/休闲</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1397008864.png"/></a>
							<a href="/"><img src="../../images/logosl/1410833242.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833321.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833707.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833409.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833495.jpg"></a>
							<a href="/"><img src="../../images/logosl/1410833436.jpg"</a>
						</div>
				</div>
				<div id="four" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">礼品</a>
								</dt>
								<dd>
									<a href="/">礼品礼盒</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">珠宝黄金</a>
								</dt>
								<dd>
									<a href="/">纯金K金饰品</a>
									<a href="/">铂金白金饰品</a>
									<a href="/">钻石饰品</a>
									<a href="/">翡翠玉石</a>
									<a href="/">水晶玛瑙</a>
									<a href="/">宝石珍珠</a>
									<a href="/">银饰</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚饰品</a>
								</dt>
								<dd>
									<a href="/">钟表</a>
									<a href="/">项链</a>
									<a href="/">戒指</a>
									<a href="/">手链/脚链</a>
									<a href="/">耳饰</a>
									<a href="/">胸针</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1390456843.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1390456978.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410485586.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410836383.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410834510.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410836429.jpg"></a>
							<a href="/"><img src="../../images/logosl/1410836517.jpg"</a>
						</div>
				</div>
				<div id="five" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">生鲜时令食品</a>
								</dt>
								<dd>
									<a href="/">蔬菜/水果</a>
									<a href="/">禽蛋及制品</a>
									<a href="/">大闸蟹</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">休闲食品</a>
								</dt>
								<dd>
									<a href="/">进口食品</a>
									<a href="/">国产食品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">酒饮冲调</a>
								</dt>
								<dd>
									<a href="/">白酒/黄酒</a>
									<a href="/">葡萄酒/洋酒</a>
									<a href="/">饮料冲调</a>
									<a href="/">茗茶</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">粮油调味</a>
								</dt>
								<dd>
									<a href="/">米面杂粮</a>
									<a href="/">实用油</a>
									<a href="/">调味品</a>
									<a href="/">南北干货</a>
									<a href="/">有机食品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">营养健康</a>
								</dt>
								<dd>
									<a href="/">滋补调养</a>
									<a href="/">礼品礼盒</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1410837200.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1410837262.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837322.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837356.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837469.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837498.jpg"></a>
						</div>
				</div>
			</div>
		</div>
		</div>
		<div id="nav_path">
			<a href="../../index.html">首页</a>
			<span>></span>
			<label >商品列表</label>
		</div>
		<div class="main_big">
			<div id="main">
				<div class="main_header">
					<div class="header_nav">
						<a href="/" id="moren" class="nav_che">
							<b>默认</b>
						</a>
						<a href="/" id="tuijian">
							<b>推荐</b>
						</a>
						<a href="/" id="jiage">
							<b>价格</b>
						</a>
					</div>
					<a href="/" class="next">下一页</a>
				</div>
				<div class="content">
					<ul id="pruts">
						
					</ul>
				</div>
				<div id="bottom_nav">
				  <div class="navbox">
					<span class="page chespan">
						1
					</span>
					<span class="page">
						<a href="/">2</a>
					</span>
					<span class="page">
						<a href="/">3</a>
					</span>
					<span class="page">
						<a href="/">4</a>
					</span>
					<span class="page">
						<a href="/">5</a>
					</span>
					<span class="next">
						<a href="/">下一页</a>
					</span>		  	
				  </div>
				</div>
			</div>
		</div>
		<div id="footer"></div>
		<!--商品模板-->
		<script type="text/html" id="prut">
		<% for (var i = 0; i < list.length; i++) {
			var prod = list[i];
		%>
		<li>
			<div class="pic_name">
				<a href="/" class="img"><img src="<%= prod.imgSrc %>"/></a>
				<div class="text">
					<a href="/" class="name"><%= prod.text %></a>
					<label><%= prod.price %></label>
					<span id="idbox" style="display: none;"><%= prod.id %></span>
					<div class="btn">
						<a class="buy" href="/">直接购买</a>
						<a  class="cart">加入购物车</a>
						<a href="/" class="shoucang">收藏</a>
					</div>
				</div>
			</div>
		</li>
		<% } %>
	</script>
	<!--购物车小窗口-->
	<script type="text/html" id="mini_carts">
		<% for (var i = 0; i < list.length; i++) {
			var prod = list[i];
		%>
			<div class="products">
				<a href="/" class="img"><img src="<%= prod.imgSrc %>"/></a>
				<div class="items">
					<a href="/" class="name"><%= prod.text %></a>
					<div class="price"><%= prod.price %></div>
					<div class="quantiy">数量：<%= prod.num %></div>
				</div>
			</div>
			<div class="clear_both" style="clear: both;height: 0;"></div>
		<% } %>
	</script>
	</body>
</html>
