<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../lib/requirejs/require.js" data-main="../../js/products"></script>
		<link rel="stylesheet" type="text/css" href="../../dist/css/puroducts.css"/>
		<link rel="stylesheet" type="text/css" href="../../dist/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../../font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../dist/css/header.css"/>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="header_nav_hide">
			<div class="left">
				<ul class="nav">
					<li><a href="/"><i class="iconfont icon-liwu"></i>我要送礼物</a></li>
					<li class="navmo"><a href="/" >个护化妆<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >家居生活<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >箱包配饰<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >珠宝首饰、钟表<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li class="navmo"><a href="/" >食品保健<i class="iconfont icon-dayuhao-copy"></i></a></li>
					<li style="height: 55px;"><a href="/" style="border: none;height: 55px;">品牌区</a></li>
				</ul>
				<div id="one" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">面部护理</a>
								</dt>
								<dd>
									<a href="/">洁面乳</a>
									<a href="/">爽肤水</a>
									<a href="/">精华露</a>
									<a href="/">乳液面霜</a>
									<a href="/">面膜/去角质</a>
									<a href="/">眼部护理</a>
									<a href="/">护肤套装</a>
									<a href="/">防晒隔离</a>
									<a href="/">其他</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">个人洗护</a>
								</dt>
								<dd>
									<a href="/">卫生巾/护垫</a>
									<a href="/">洗护/造型</a>
									<a href="/">身体护理</a>
									<a href="/">口腔护理</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚彩妆</a>
								</dt>
								<dd>
									<a href="/">粉底/遮瑕</a>
									<a href="/">眼影/眼线</a>
									<a href="/">腮红</a>
									<a href="/">眉笔/眉粉</a>
									<a href="/">睫毛膏</a>
									<a href="/">唇膏唇彩</a>
									<a href="/">卸妆</a>
									<a href="/">美甲</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">男士护理</a>
								</dt>
								<dd>
									<a href="/">面部护理</a>
									<a href="/">眼部护理</a>
									<a href="/">剃须</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">经典香氛</a>
								</dt>
								<dd>
									<a href="/">女士香水</a>
									<a href="/">男士香水</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1390460850.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1397008455.png"</a>
							<a href="/"><img src="../../images/logosl/1397008474.png"</a>
							<a href="/"><img src="../../images/logosl/1397008506.png"</a>
							<a href="/"><img src="../../images/logosl/1397008518.png"</a>
							<a href="/"><img src="../../images/logosl/1410758765.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410414006.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410416727.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410844430.jpg"</a>
						</div>
				</div>
				<div id="two" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">精装家纺</a>
								</dt>
								<dd>
									<a href="/">床品套装</a>
									<a href="/">枕芯被套</a>
									<a href="/">毛巾家纺</a>
									<a href="/">儿童床品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">居家日用</a>
								</dt> 
								<dd>
									<a href="/">办公文具</a>
									<a href="/">置物/收纳</a>
									<a href="/">雨伞雨具</a>
									<a href="/">浴室用品</a>
									<a href="/">净化除味</a>
									<a href="/">清洁用品</a>
									<a href="/">驱虫用具</a>
									<a href="/">皮具护理</a>
									<a href="/">灯饰照明</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">厨房用具</a>
								</dt>
								<dd>
									<a href="/">餐具</a>
									<a href="/">烹饪锅具</a>
									<a href="/">茶具/酒具</a>
									<a href="/">保险/器皿</a>
									<a href="/">剪刀砧板</a>
									<a href="/">厨房清洁</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">家电用品</a>
								</dt>
								<dd>
									<a href="/">生活电器</a>
									<a href="/">厨房电器</a>
									<a href="/">个户健康</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">户外、休闲</a>
								</dt>
								<dd>
									<a href="/">汽车用品</a>
									<a href="/">户外/休闲</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1397116041.png"/></a>
							<a href="/"><img src="../../images/logosl/1390466076.jpg"</a>
							<a href="/"><img src="../../images/logosl/1397115969.png"</a>
							<a href="/"><img src="../../images/logosl/1397116016.png"</a>
							<a href="/"><img src="../../images/logosl/1410831365.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410420010.jpg"</a>
							<a href="/"><img src="../../images/logosl/1397116016.png"</a>
							<a href="/"><img src="../../images/logosl/1410419108.jpg"</a>
							
						</div>
				</div>
				<div id="three" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">潮流女包</a>
								</dt>
								<dd>
									<a href="/">钱包/卡包</a>
									<a href="/">单肩包</a>
									<a href="/">双肩包</a>
									<a href="/">手提包</a>
									<a href="/">斜挎包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">精品男包</a>
								</dt>
								<dd>
									<a href="/">钥匙包</a>
									<a href="/">钱包/卡包</a>
									<a href="/">手拿包</a>
									<a href="/">背包</a>
									<a href="/">休闲包</a>
									<a href="/">商务/公务包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">旅行箱包</a>
								</dt>
								<dd>
									<a href="/">拉杆箱</a>
									<a href="/">旅行包</a>
									<a href="/">休闲包</a>
									<a href="/">电脑包</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚配件</a>
								</dt>
								<dd>
									<a href="/">男士配件/饰品</a>
									<a href="/">女士配件</a>
									<a href="/">眼镜</a>
									<a href="/">太阳眼镜</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">户外、休闲</a>
								</dt>
								<dd>
									<a href="/">汽车用品</a>
									<a href="/">户外/休闲</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1397008864.png"/></a>
							<a href="/"><img src="../../images/logosl/1410833242.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833321.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833707.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833409.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410833495.jpg"></a>
							<a href="/"><img src="../../images/logosl/1410833436.jpg"</a>
						</div>
				</div>
				<div id="four" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">礼品</a>
								</dt>
								<dd>
									<a href="/">礼品礼盒</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">珠宝黄金</a>
								</dt>
								<dd>
									<a href="/">纯金K金饰品</a>
									<a href="/">铂金白金饰品</a>
									<a href="/">钻石饰品</a>
									<a href="/">翡翠玉石</a>
									<a href="/">水晶玛瑙</a>
									<a href="/">宝石珍珠</a>
									<a href="/">银饰</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">时尚饰品</a>
								</dt>
								<dd>
									<a href="/">钟表</a>
									<a href="/">项链</a>
									<a href="/">戒指</a>
									<a href="/">手链/脚链</a>
									<a href="/">耳饰</a>
									<a href="/">胸针</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1390456843.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1390456978.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410485586.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410836383.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410834510.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410836429.jpg"></a>
							<a href="/"><img src="../../images/logosl/1410836517.jpg"</a>
						</div>
				</div>
				<div id="five" class="hidenav">
						<div class="left">
							<dl>
								<dt>
									<a href="/">生鲜时令食品</a>
								</dt>
								<dd>
									<a href="/">蔬菜/水果</a>
									<a href="/">禽蛋及制品</a>
									<a href="/">大闸蟹</a>
								</dd>
							</dl>
							<dl>
								<dt>
									<a href="/">休闲食品</a>
								</dt>
								<dd>
									<a href="/">进口食品</a>
									<a href="/">国产食品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">酒饮冲调</a>
								</dt>
								<dd>
									<a href="/">白酒/黄酒</a>
									<a href="/">葡萄酒/洋酒</a>
									<a href="/">饮料冲调</a>
									<a href="/">茗茶</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">粮油调味</a>
								</dt>
								<dd>
									<a href="/">米面杂粮</a>
									<a href="/">实用油</a>
									<a href="/">调味品</a>
									<a href="/">南北干货</a>
									<a href="/">有机食品</a>
								</dd>
							</dl>
							<dl>
								<dt>
									
									<a href="/">营养健康</a>
								</dt>
								<dd>
									<a href="/">滋补调养</a>
									<a href="/">礼品礼盒</a>
								</dd>
							</dl>
						</div>
						<div class="right">
							<h3>推荐品牌：</h3>
							<a href="/"><img src="../../images/logosl/1410837200.jpg"/></a>
							<a href="/"><img src="../../images/logosl/1410837262.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837322.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837356.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837469.jpg"</a>
							<a href="/"><img src="../../images/logosl/1410837498.jpg"></a>
						</div>
				</div>
			</div>
		</div>
		<div class="nav_path">
			<a href="/index.html">首页</a>
			<span>></span>
			<a href="/">商品列表</a>
			<span>></span>
			<label></label>
		</div>
		<div id="main_all">
			<div class="main">
				<div class="main_top">
					<div class="top_info">
						 <div class="left">
						 	<div class="zoom">
						 		 <div id="zoombox"></div>
						 	</div>
						 	<div class="spec">
						 		<div class="spec_left">
						 			<img src="../../images/prud/left.gif"/>
						 		</div>
						 		<div class="spec_content">
						 			<ul id="smimgSrc">

						 			</ul>
						 		</div>
						 		<div class="spec_right">
						 			<img src="../../images/prud/right.gif"/>
						 		</div>
						 	</div>
						 	<div class="fenx">
						 		 <div class="fenx_left">
						 		 	<i class="iconfont icon-fenxiang"></i>
						 		 	<span class="share">分享到 : </span>
						 		 	<a href="/" class="more"></a>
						 		 	<a class="qzone" href="/" title="分享到QQ空间"></a>
						 		 	<a class="weibo" href="/" title="分享到新浪微博"></a>
						 		 	<a class="tengxun" href="/" title="分享到腾讯微博"></a>
						 		 	<a class="weixin" href="/"title="分享到微信"></a>
						 		 	<a class="renren" href="/"title="分享到人人网"></a>
						 		 </div>
						 		 <div class="fenx_right">
						 		 	 <a href="/"><i class="iconfont icon-shoucang"></i>
						 		 	 	<span>收藏此商品</span>
						 		 	 </a>
						 		 </div>
						 	</div>
						 	<div class="bigzoom"></div>
						 </div>
						 <div class="right">
						 	 <div class="right_top">
						 	 	 <span id="pru_name"></span>
						 	 </div>
						 	 <div class="right_content">
						 	 	<table class="pru_text">
						 	 	  <tr class="pru_price">
						 	 	  	 <th style="letter-spacing:3px;">礼易价：</th>
						 	 	  	 <td><span id="pir_new"></span><span id="pir_old"></span></td>
						 	 	  </tr>
						 	 	  <tr class="pru_bianhao">
						 	 	  	 <th>商品编号:</th>
						 	 	  	 <td><span id="pru_bianhao"></span></td>
						 	 	  </tr>
						 	 	  <tr class="pru_num">
						 	 	  	 <th>购买数量:</th>
						 	 	  	 <td>
						 	 	  	 	<span class="jian">-</span>
						 	 	  	 	<input type="text"  id="pru_num" value="1" />
						 	 	  	 	<span class="jia">+</span>
						 	 	  	 </td>
						 	 	  </tr>
						 	 	</table>
						 	 	<div class="erweima">
						 	 		<img src="../../images/erweima.png"  />
						 	 		<p>下载手机礼易</p>
						 	 		<p>手机送礼一步到家</p>
						 	 	</div>
						 	 </div>
						 	 <div class="bottom_button">
						 	 	<a href="javascript:void(0);" class="btn_buy"></a>
						 	 	<a href="javascript:void(0);" class="btn_cart"></a>
						 	 </div>
						 </div>
					</div>
				</div>
			</div>
			<div class="main_info">
				<div class="left">
					<div class="left_top">
						<p>送过此商品的人还送了</p>
					</div>
					<div class="left_bottom">
						
					</div>
				</div>
				<div class="right">
					<div class="right_top">
						<span  class="xq active">商品详情</span>
						<span class="zx">商品咨询</span>
						<span class="bz">购物保障</span>
						<span  class="wt">常见问题</span>
					</div>
					<div class="right_bottom">
						<div class="spxq activebox" >1</div>
						<div class="spzx">2</div>
						<div class="gwbz">3</div>
						<div class="cjwt">4</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"></div>
		
		<!--左侧模板-->
	<script type="text/html" id="ul_nav">
	  <ul>
		<% for (var i = 0; i < list.length; i++) {
			var prod = list[i];
		%>
		<li>
			<a class="img" href="/"><img src="<%= prod.imgSrc %>"/></a>
			<a class="name" href="/"><%= prod.text %></a>
			<label ><%= prod.price %></label>
		</li>
		<% } %>
	  </ul>
	</script>
	<script src="../../lib/jquery/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/jquery_plugins/jquery.fly.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(".btn_cart").on("click", function(e){
			var _offset = $(".cart_box").offset(),
				_flyer = $("<img src='../../images/prud/1.jpg'>");

			_flyer.fly({
				start : {
					left : e.pageX,
					top : e.pageY
				},
				end : {
					left : _offset.left,
					top : _offset.top,
					width: 0,
					height : 0
				}
			});
		});
	</script>
	</body>
</html>
